@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.counter-container {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counter-container > :first-child {
    font-size: 1rem;
    color: rgb(161, 161, 161);
}

.counter-container > .count {
    font-size: 2.5rem;
}

.animated-counter {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.animated-digit {
    transition: transform 300ms ease-in-out;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeIn cubic-bezier(0.19, 1, 0.22, 1) 300ms forwards;
}

.animated-digit > span {
    font-size: 2.5rem;
}