html {
    width: 320px;
    height: 240px;
    overflow: hidden;
    max-width: 320px;
    max-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: rgb(10, 10, 10);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > p {
    text-align: center;
    font-size: 1rem;
    padding: 2px;
}

.main {
    width: 100%;
    height: 70%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.counter-container {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.counter-container > .count-label {
    font-size: 1rem;
    color: rgb(161, 161, 161);
}

.counter-container > .count {
    font-size: 2.5rem;
}

.counter-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    background: rgb(5, 5, 190);
    color: white;
    cursor: pointer;
    user-select: none;
    transition: background 200ms ease-out, scale 200ms ease-out;
}

.counter-button:hover,
.counter-button:focus-visible {
    background: rgb(5, 5, 139);
}